
a:hover{
	color:white!important;
	
	background-color:  #0039e6 !important;
}

a:active{
	
}

h1{
	text-align: center;
	background-color: #ffff4d;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
	margin-top: -20px !important;
	padding-bottom: 51px !important;
	padding-top: 30px !important;
	
}



div#main-image{
	margin-top: -50px;
}


#wrapper{
	margin: 0;
}



div.image {
   content:url(logo.png);
   width:120px; 
   height:120px; 
   float: left;

}​



div.nav {
	border: 1px solid black;
	
	position: relative;  
  
	overflow: hidden;
	
  }



div.nav {
	
	position: relative;  
	overflow: hidden;
	margin-top: -10px;
  }

ul{
	background-color: white;
	opacity: 0.7;
	font-size: 150%;
	border: 1px solid black; 
	font-weight: bold;
	

}
li { 
	border-right: 1px solid #000000; 

}


footer{

	width: 100%;
  position: relative;
  left:0;
  right:0;
  bottom: 0;
  background-color: #efefef;
  text-align: center;
  font-size: 110%;
   font-family: Verdana, Geneva, sans-serif;
   padding-bottom: 10px;
}

footer a:link {
	background-color: #efefef;  
    padding: 1px 20px;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
    font-size: 150%;
    font-family: Verdana, Geneva, sans-serif;
	}

footer a:hover {
    background-color: #cccccc;

}


div.parent{

text-align: center;
background-color: #e6f2ff;

}

div.column{
	background-color: #e6f2ff;
	

}

div.column img{
	 margin: auto;
}


div.parent1{

width: 100%;


}

div.column1{
	 height: 400px;
    
   width: 400px;
 display: inline-block;
 margin-left: 16%;
text-align: center;


}
div.column1 img{
	 max-width: 100%;
    max-height: 100%;
    

}






#myimage{
	width: 30%;
	height:500px;
	background-color: #99c2ff;
	color: blue;
}
#myimage img{
max-width: 70%;
 max-height: 70%;
display:block;
    margin:auto;
  padding-top: 80px;
}

form{
	 text-align: center;
}


#iframe h2{
	padding-top: 20px;
	font: bold;
	color: yellow;
	font-family: Verdana, Geneva, sans-serif;
}

#iframe2 h2{
	padding-top: 20px;
	font: bold;
	color: yellow;
	font-family: Verdana, Geneva, sans-serif;
}


div#iframe {
  text-align:center;
  width:100%;
  background-image: url("background.jpeg");
  margin-top: -20px;
height: 1000px;
}

div#iframe2{
	background-image: url("background2.jpg");
	text-align:center;
  width:100%;
  margin-top: -20px;
height: 1000px;
}

iframe{
	height: 800px;
  width: 70%;
}


div#facebook{
	 text-align: center;
	 padding-top: 10px;
	 background-color: #F9FAFE;

}

form{
	background-color: #C6CEFC;

}


@media screen and (min-width:600px){
	.footer-img {
	visibility:hidden;
   }
}

@media screen and (min-width:1200px){
	
	.footer-img{
		visibility: visible;
	}
   
  div.column {
		width:30%;
		display: inline-block;
		float: left;
		margin-left: 2%;
	
   }   
  
}