

h1{
	text-align: center;
}






#wrapper{
	margin: 0;
}



div.image {
   content:url(logo.png);
   width:120px; /*width of your image*/
   height:120px; /*height of your image*/
}​



div.nav {
	border: 1px solid green;
	
	position: fixed;  
	
  }



div.nav {
	
	position: fixed;  
	overflow: hidden;
  }

ul{
	background-color: white;
	opacity: 0.7;
	font-size: 150%;
	border: 1px solid black; 
	font-weight: bold;
	

}
li { 
	border-right: 1px solid #000000; 

}


footer{

  position: absolute;
  left:0;
  right:0;
  bottom: 0;
  background-color: #efefef;
  text-align: center;
  font-size: 110%;
   font-family: "Comic Sans MS", cursive, sans-serif;
}

footer a:link {
	background-color: #efefef;  
    padding: 1px 20px;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
    font-size: 150%;
    font-family: "Comic Sans MS", cursive, sans-serif;
	}

footer a:hover {
    background-color: #cccccc;

}


div.parent{

text-align: center;
background-color: #e6f2ff;

}

div.column{
	background-color: #e6f2ff;
	

}

div.column img{
	 margin: auto;
}


div.parent1{

width: 100%;


}

div.column1{
	 height: 400px;
    
   width: 400px;
 display: inline-block;
 margin-left: 16%;
text-align: center;


}
div.column1 img{
	 max-width: 100%;
    max-height: 100%;
    

}






#myimage{
	width: 30%;
	height:500px;
	background-color: #99c2ff;
	color: blue;
}
#myimage img{
max-width: 70%;
 max-height: 70%;
display:block;
    margin:auto;
  padding-top: 80px;
}





@media screen and (min-width:600px){
	.footer-img {
	visibility:hidden;
   }
}

@media screen and (min-width:1200px){
	
	.footer-img{
		visibility: visible;
	}
   
  div.column {
		width:30%;
		display: inline-block;
		float: left;
		margin-left: 2%;
	
   }   
  
}