{%extends "templates/base.html" %}
{% block head %}

{% endblock %}
{% block content %}
	<div id = "myimage">
	<img src = "static/yang.jpg" alt =" picture of yang"/>"
	</div>
	<div>
        <h2>About Me</h2>
        <p> Hello There! My name is Yang Lu and I am a senior majoring in Environement (PitE) at the University of Michigan. As you can see, I still have a lot to learn about web design. I like to watch videos on Youtube and watch Netflix. </p>

	</div>
		
	<div class = "parent1">
      <div class="column1">
       
    
        <img src = "static/1.jpg" alt =" image"/>
        <h2> Group Photo </h2>
      </div>
      <div class="column1">
        
       
        <img src = "static/2.jpg" alt ="image"/>
 <h2> Chicago </h2>

      </div>
</div>

 <div class = "parent1">
       <div class="column1">
        
       
       <img src = "static/3.jpg" alt =" image "/>
        <h2> Cool People </h2>
      </div>

       <div class="column1">
        
       
       <img src = "static/4.jpg" alt =" image "/>
 <h2> Lightsabers </h2>

      </div>
</div>

<div class = "parent1">
       <div class="column1">
        
       
       <img src = "static/5.jpg" alt =" image "/>
        <h2> Sunrise </h2>
      </div>

       <div class="column1">
        
       
       <img src = "static/6.jpg" alt =" image "/>

        <h2> Old Hrad Castle </h2>
      </div>
</div>

<div class = "parent1">
       <div class="column1">
        
       
       <img src = "static/7.jpg" alt =" image "/>
        <h2> My Friend Ali </h2>
      </div>

       <div class="column1">
        
       
       <img src = "static/8.jpg" alt =" image "/>
        <h2> Vienna </h2>
      </div>
</div>


       <div class="column1">
        
       
       <img src = "static/9.jpg" alt =" image "/>
        <h2> First Football Game </h2>
      </div>

      
</div>	
	




	{% endblock %}