{%extends "templates/base.html" %}
{% block head %}

{% endblock %}
{% block content %}
	

  <div id = "myimage">
	<img src = "static/yang.jpg" alt =" image of yang "/>"
	</div>
	<div id = "bio">
        <h2>About Me</h2>
        <p> Hello There! My name is Yang Lu and I am a senior majoring in Environement (PitE) at the University of Michigan. As you can see, I still have a lot to learn about web design. I like to watch videos on Youtube and Netflix. My favorite food either pho or curry chicken. My hometown is Port Huron, MI. It is best known for the Blue Water Bridge to Canada. </p><br>

        <p> This Website is about Manganese as a toxicant, but also little bits of other stuff have been thrown in. As you can see below, I have included pictures of me in different places with friends. Most of these were taken in Bratislava, Slovakia over Summer 2015. I hope you enjoy your stay and look for future improvements to the site! </p>

	</div>

	<div class = "parent1">
      <div class="column1">
       
    
        <img src = "static/1.jpg" alt =" class group "/>
        <h2> Group Photo </h2>
      </div>
      <div class="column1">
        
       
        <img src = "static/2.jpg" alt ="skyscrapers"/>
 <h2> Chicago </h2>

      </div>
</div>

 <div class = "parent1">
       <div class="column1">
        
       
       <img src = "static/3.jpg" alt =" friends "/>
        <h2> Cool People </h2>
      </div>

       <div class="column1">
        
       
       <img src = "static/4.jpg" alt =" riding lightsabers "/>
 <h2> Lightsabers </h2>

      </div>
</div>

<div class = "parent1">
       <div class="column1">
        
       
       <img src = "static/5.jpg" alt =" sunrise in Bratislava "/>
        <h2> Sunrise </h2>
      </div>

       <div class="column1">
        
       
       <img src = "static/6.jpg" alt =" european castle "/>

        <h2> Old Hrad Castle </h2>
      </div>
</div>

<div class = "parent1">
       <div class="column1">
        
       
       <img src = "static/7.jpg" alt =" Pakistani friend "/>
        <h2> My Friend Ali </h2>
      </div>

       <div class="column1">
        
       
       <img src = "static/8.jpg" alt =" Chanti and Paul "/>
        <h2> Vienna </h2>
      </div>
</div>

<div class = "parent1">
       <div class="column1">
        
       
       <img src = "static/9.jpg" alt =" michigan football "/>
        <h2> First Football Game </h2>
      </div>
       <div class="column1">
        
       
       <img src = "static/10.jpg" alt =" ice cave "/>
        <h2> Cool Cave </h2>
      </div>

      </div>

      

	




	{% endblock %}