<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="static/mystyle.css">
	<title>{{title}}</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	
	<header>
		{% block head %}
		{% endblock %}
		
		<div id ="wrapper">
		<div class="image"></div>​
		<h1> Yang Lu - Manganese</h1>  
	
		<div class = "nav"> 
		<ul class="nav nav-pills nav-justified">
  <li class = "{{active1}}" role="presentation"><a href="index.html">{{home}}</a></li>
  <li class = "{{active2}}" role="presentation"><a href="research.html">{{research}}</a></li>
  <li class = "{{active3}}" role="presentation"><a href="aboutme.html">{{aboutme}}</a></li>
  <li class = "{{active4}}" role="presentation"><a href="login.html">{{login}}</a></li>
</ul>

</div>
<div id = "main-image"> <img src = "static/chem1.jpg" alt =" balloon image"/> </div>
</div>


	</header>

	{% block content %}
	{% endblock %}
	<footer>
		<p>Copyright &copy; 2016 Yang Lu <a id = "footer-image" href="https://www.facebook.com/yang.lu.90">My Facebook</a> <a class = "footer-img" href = "http://umich.edu/"> Umich</a> <a class = "footer-img" href = "https://www.si.umich.edu/programs/courses/206"> SI 206</a>  <a class = "footer-img" href = "feedback.html"> Feedback </a></p>
	</footer>	
</body>

</html>