{%extends "templates/base.html" %}
{% block head %}

{% endblock %}
{% block content %}


<form action="url" method="POST">

 Email: <br>
<input type="text" name="email" ><br>
<br>
Comments: <br>
<textarea name="comments" rows="10" cols="40" ></textarea><br><br>

<input type="submit" value="Submit">
 
</form>

<div id ="facebook">
<h2> Facebook Feedback </h2>
<div class="fb-comments" data-href="http://localhost:17080/feedback.html" data-width="500px" data-numposts="5"></div>
</div>


	{% endblock %}