{%extends "templates/base.html" %}
{% block head %}

{% endblock %}
{% block content %}
	
<form action="URL to form script" method="POST">

Your name: <br>
<input type="text" name="realname"><br>
<br>

Your email: <br>
<input type="text" name="email"><br>
<br>

Your comments: <br>
<textarea name="comments" rows="15" cols="50"></textarea><br><br>

<input type="submit" value="Submit">
 
</form>

<div id ="facebook">
<h2> Facebook Feedback </h2>
<div class="fb-comments" data-href="http://localhost:17080/feedback.html" data-width="500px" data-numposts="5"></div>
</div>
	{% endblock %}