{%extends "templates/base.html" %}
{% block head %}

{% endblock %}
{% block content %}

<div id="youtube">
<h2> Environmental Health Science at Michigan </h2>
<iframe width="400" height="270" src="https://www.youtube.com/embed/zmnEtCGDXMg" ></iframe>
</div>


<div>
	
<p> This will be the analysis of the research paper. Right now there is not anything here, but there will be in the future. </p>

<h2> References </h2>

<ul>
  <li>Reference 1</li>
  <li>Reference 2</li>
  <li>Reference 3</li>
  <li> ETC </li>
</ul>


	
</div>


	{% endblock %}